/* You can add global styles to this file, and also import other style files */
@import "~materialize-css/dist/css/materialize.css";
@import "~material-icons/iconfont/material-icons.css";

main {
  flex: 1 0 auto;
}

app-root{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
