<div class="row">
  <div class="col s12 m12">
    <div class="col s12 m4">
      <div class="card blue darken-3">
        <div class="card-content white-text">
          <span class="card-title">{{ this.title }}</span>
          <span class="card-title">Priority: {{ this.priority }}</span>
          <p>{{ this.description }}</p>
          <p>{{ this.category }}</p>
        </div>
        <div class="card-action">
          <a [routerLink]="['/view',id]">view more</a>
          <a href="#" (click)="this.onShowDetail()">view detail</a>
        </div>
      </div>
    </div>
    <button id="show-btn" class="btn btns waves-effect waves-light" (click)="this.onShowClick()" type="submit" name="action">Show Form
      <i class="material-icons right">send</i>
    </button>
    <app-add (newNote)="addNote($event)"></app-add>
    <div class="col s12 m4" [hidden]="this.isHidePanel">
      <div class="card blue darken-3">
        <div class="card-content white-text">
          <span class="card-title">Title: {{ this.title }}</span>
          <span class="card-title">Priority: {{ this.priority }}</span>
          <p>Write the note title below.</p>
        </div>
        <div class="card-action">
          <div class="input-field col s12">
            <input [(ngModel)]="title" placeholder="Title *">
          </div>
          <div class="input-field col s12">
            <select (change)="this.onSelectChange($event)">
              <option value="High">High</option>
              <option value="Medium" selected>Medium</option>
              <option value="Low">Low</option>
            </select>
          </div>
          <button id="insert-btn" class="btn btns waves-effect waves-light" (click)="this.onInsertClick()" type="submit" name="action">Insert
            <i class="material-icons right">send</i>
          </button>
          <div [hidden]="this.isHidePanel">
            <button id="hide-btn" class="btn btns waves-effect waves-light" (click)="this.onHideClick()" type="submit" name="action">Hide Form
              <i class="material-icons right">send</i>
            </button>
          </div>
        </div>
      </div>
    </div>
</div>
<app-detail [hidden]="this.isHideDetail" [title]="this.title" [description]="this.description" [priority]="this.priority"></app-detail>

